@import "./colors.scss";

.call_request_holder{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.25);

    color: $white;
    background: linear-gradient(317deg, #ff0000, #000000);
    background-size: 400% 400%;
}

.request_text{
    font-size: 15px;
    font-weight: 500;
}

.input_holder{
    position: relative;
    padding: 20px;

    margin: 15px 5px;
}

.input_field{
    font-size: 15px;
    border: none;
      border-bottom: 1px solid #ffffff;
      border-radius: 0;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      background-color: #f5f5f500;
    color: $white;;
    width: 200px;
}

.input_field:focus{
    outline: none;
}

.phone_validation_invalid{
    box-shadow: 0px 0px 10px 1px rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
}

.input_holder .validation{
    width: 200px;
    text-align: start;
    font-size: 10px;
    position: absolute;
    left:0;top:0;
    padding: 15px 2px 4px 10px;
    margin: 40px 0px 1px 45px;
}

@media screen and(max-width:991px) {
    .input_holder .validation{
        left: calc(50% - 100px);
    }
}

.validation_hidden{
    display: none;
}

.request_btn{
    border: none;
    background-color: #DD0000;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;

    background: linear-gradient(317deg, #ff0000, #000000);
    background-size: 400% 400%;

    -webkit-animation: gradient 5s ease infinite;
    -moz-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;
}

#link_to_tariffs{
    text-decoration: none;
}

.request_btn:hover{
    background-color: #ec4141;
}

.phone_validation{
    color: rgb(255, 32, 32);
}

.request_success{
    font-weight: 500;
    color: #DD0000;
    display:none;
}



@-webkit-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}