@import './colors.scss';

.channel_group{
    font-size: 20px;
    font-weight: 500;
}

.channels_list{
    font-size: 20px;
    font-weight: 500;
    color: $red;
}

.channel_name{
    font-weight: 500;
}