@import "./colors.scss";
// аватар
$side_w:150px;
$side_h:175px;

.avatar_holder{
    width: $side_w;
    height: $side_h;
}

.avatar{
    width: $side_w;
    height: $side_h;

    border-radius: 10px;

    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

// конец аватара

// номер телефона
#phone_holder{
    font-size: 20px;
    vertical-align: middle;
    font-weight: 500;
}

.about_info_holder{
    padding-left: 35px;
    color: $white;
}

.agent_info_little{
    color: white;
}

@media (min-width:768px){
    .agent_info_little{
        display: none;
    }
}

@media (max-width:768px){
    .agent_info_large{
        display: none;
    }

    .avatar_holder{
        margin: 15px 0;
    }

    .about_info_holder{
        text-align: center!important;
    }
}

@media (min-width:768px){
    .phone_tg{
        // margin-left: 15px;
    }
}
// конец номер телефона
