.modal_content{
    width: 1500px;
}

.close_icon_holder{
    height: 20px;
    width: 20px;
    position: absolute;
    top:0;right:0;
    margin-right: 15px;
    cursor: pointer;
}

#close_icon{
    height: 20px;
    width: 20px;
}