.more_header{
    font-weight: 700;
    font-size: 20px;
}


.more_val_name{
    color: #B2B2B2;
    font-weight: 500;
}

.more_val_content{
    font-size: 15px;
    font-weight: 700;
}

.more_val_content_name{
    font-size: 15px;
}

.more_modal_content{
    width: 900px;
}
