@import "./colors.scss";


#report_btn{
    border: none;
    background-color: $red;
    color: $white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;

    background: linear-gradient(317deg, #ff0000, #000000);
    background-size: 400% 400%;

    -webkit-animation: gradient 5s ease infinite;
    -moz-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;
}

#report_form{
    color: white;
}

#report_btn:hover{
    background-color: #ec4141;
}

#report_area{
    border: none;
      border-bottom: 1px solid #000000;
      border-radius: 0;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      background-color: #b2b2b280;
}

@-webkit-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}