@import "./colors.scss";

// основное
.tariff_card_holder{
    position: relative;
    max-width: 350px;
    min-height: 150px;
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    background: linear-gradient(317deg, #ff0000, #000000);
    background-size: 400% 400%;

    padding: 10px 10px;

    margin: 10px 50px;
}

.tariffs_holder_nav_btn{
    background: none;
    width: 48px;
    height: 48px;
    border: none;
    position: absolute;
    padding: 0;
}

.tariffs_holder_nav_btn_right{
    right:1%;

    transform: rotate(180deg);
}

.tariffs_holder_nav_btn_left{
    left:1%;
}



//левая колонка
.card_cols{
    color: $white;
    position: relative;
}

@media screen and(min-width:576px) {
    .extra_info_holder{
        position: absolute;
        bottom:0;
    }
}


.tariff_name{
    font-size: 20px;
    font-weight: 500;
    color: #FF0000;
}

.services_holder{
    display: flex;
    flex-direction: row;
}

.service{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.service_icon{
    height: 25px;
    width: 25px;
}

// правая колонка



.price{
    font-size: 20px;
    font-weight: 500;
    color: white;

    text-shadow: 1px 0 1px #FF0000, 
        0 1px 1px #FF0000, 
        -1px 0 1px #FF0000, 
        0 -1px 1px #FF0000;
}

.get_btns{
    padding: 0;
    width: 100%;
}

.get_btn{
    padding: 0;
    height: 30px;
}

.connect_btn{
    border: none;
    border-radius: 5px;
    color: $white;

    max-height: 35px;
    max-width: 150px;
    font-weight: 500;

    background: linear-gradient(317deg, #ff0000, #000000);
    background-size: 400% 400%;

    -webkit-animation: gradient 5s ease infinite;
    -moz-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;
}

.connect_btn:hover{
    background-color: #ec4141;
}


.more_btn{
    color: $red;
    border: none;
    background: none;
}

.more_btn:hover{
    color: #ec4141;
}

// конец карточки

// колонка для смартфонов

.middle_col{
    font-size: 15px;
}

@media(min-width:576px){
    .middle_col{
        display: none;
    }
}


@media(min-width:576px){
    .tariff_card_holder:hover .row .popup_info,
    .popup_info:hover{
        height: 70%;
    }
}

.popup_info{
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    overflow:auto;
    border-radius: 0 0 10px 10px;

    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;

    overflow-y: hidden;
}




@-webkit-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}