// овновное
.btn_holder{
    min-height: 50px;
    min-width: 200px;
    margin: 0px 90px;

    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    cursor: pointer;
}

#tariffs_icons, #tariffs_name{
    height: 20px;
    margin: 10px 0px;
    vertical-align: middle;
}

#tariffs_name{
    color: #B2B2B2;
}

.tariff_icon{
    height: 25px;
    width: 50px;
}

// активный нав

.tariff_nav_active{
    background-color: #DD0000;
    color: white;
}

.tariff_nav_inactive{
    background-color: white;
    color: #B2B2B2;
}